.homeNews{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 80px 0;
    background-color: rgb(38, 37, 63);
    h2{
        font-size: 36px;
    }
    &__list{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 70px;
        flex-wrap: wrap;
    }
}